<header id="header">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <div id="banner" class="banner">
    <img id="logo-image" alt="amfoss logo" src="/image/logo-light.png">
  </div>
  <div id="header-outer" class="outer">
    <div id="header-title" class="inner">
      <% if (theme.subtitle || config.subtitle) { %>
        <div id="subtitle-container">
          <h2 id="subtitle-wrap">
            <span id="subtitle"><%= theme.subtitle || config.subtitle %></span>
          </h2>
        </div>
      <% } %>
    </div>
    <div id="header-inner" class="inner">
      <nav id="main-nav">
        <a id="main-nav-toggle" class="nav-icon"><span class="fa fa-bars"></span></a>
        <% for (var i in theme.menu) { %>
          <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
        <% } %>
        <button id="theme-toggle" onclick="toggleTheme()">
          <i class="material-icons" id="theme-icon">sunny</i>
        </button>
      </nav>
      <nav id="sub-nav">
        <% if (theme.links) { %>
          <% for (const i in theme.links) { %>
            <a class="nav-icon" href="<%- url_for(theme.links[i]) %>"><span class="fa fa-<%= i %>"></span></a>
          <% } %>
        <% } %>
      </nav>
      <div id="search-form-wrap">
        <%- search_form({button: '&#xF002;', text: __('search')}) %>
      </div>
    </div>
  </div>
  <script src="<%- url_for('js/theme.js') %>"></script>
</header>
